Persona Expenses Tracker

In [54]:
user = "Maame"
current_month ="August 2025"
currency ='$'
budget = 500
num_of_days_in_month = 30
is_budget_set = True

In [55]:
print('Budget for',current_month,':',budget)

Budget for August 2025 : 500

A Single Expense

In [16]:
item ='Rent'
amount = 200
category = 'Housing'
is_necessary = True
balance = budget - amount

In [56]:
items ='Rent','Electricity','Clothes','Data','Food','Netflix'
prices = 200.00,40.00,50.00,20,10,15
categories= 'housing','Utilities','Basic','Utilities','Food','Entertainment'
necessary = True,True,True,True,False,False

In [40]:
prices[0]+prices[1]+prices[2]+prices[3]+prices[4]+prices[5]

335.0

In [57]:
total_expenses = sum(prices)

In [45]:
balance = budget - total_expenses

In [49]:
Num_of_items = len(items)

In [58]:
print("="*35)
print("        Expenses Tracker")
print("="*35)
print("owner",'                 ',user)
print("period",'                ',current_month)
print("-"*35)
print("currency",'              ',currency)
print("starting Balance",'      ', budget)
print("Total Expenses",'        ',total_expenses)
print("-"*35)
print("Closing balance",'       ',balance)
print("Transactions",'          ',Num_of_items)
print("="*35)
print("      Honoured to serve you!")
print("="*35)

===================================
        Expenses Tracker
===================================
owner                   Maame
period                  August 2025
-----------------------------------
currency                $
starting Balance        500
Total Expenses          335.0
-----------------------------------
Closing balance         165.0
Transactions            6
===================================
      Honoured to serve you!
===================================